@use "@/styles/global" as *;

#sidebar {
    width: 100%;
    height: 100vh;
    grid-area: sidebar;
    background: #f9f9f9;
    position: absolute;
    max-width: 0;
    overflow: hidden;
    padding: .5rem;
    // transition: .5s ease;
    opacity: 0;
    z-index: 99;

    &.active {
        opacity: 1;
        max-width: 250px;
    }

    .content {
        height: 100%;
        display: flex;
        width: 100%;
        background: #fff;
        border-radius: .7rem;
        flex-direction: column;
        box-shadow: 0 0 1rem #00000010;
        justify-content: space-between;
    }

    section {
        &:nth-child(1) {
            height: 100%;
            display: flex;
            flex-direction: column;

            .header {
                height: 55px;
                display: flex;
                padding: .7rem 1rem;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #00000010;

                h1 {
                    color: #555;
                    font-size: 1.4rem;
                    font-family: $secondary-font;
                }

                svg {
                    color: #555;
                    width: 1.7rem;
                    height: 1.7rem;
                    cursor: pointer;
                }

                .menuBtn { display: none; }
            }

            .main {
                height: 100%;

                ul {
                    padding: 1rem;

                    li {
                        display: flex;
                        cursor: pointer;
                        padding: .6rem 0;
                        transition: .5s ease;
                        justify-content: space-between;

                        div {
                            gap: 1rem;
                            display: flex;
                            align-items: center;
                        }

                        svg {
                            color: #555555;
                        }

                        .arrowIcon { 
                            display: none;
                        }

                    }
                }
            }
        }

        &:nth-child(2) {
            padding: 1rem;
            border-top: 1px solid #00000010;

            div {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: space-between;

                svg {
                    cursor: pointer;
                }

                p {
                    font-weight: 900;
                }
            }
        }
    }
}


#root.dark #sidebar { // DARK
    background: none;

    .content {
        background: $dark-color;
        border: 1px solid $dark;

        section:nth-child(1) {
            .header {
                h1 { color: #fff; }
                svg { color: #fff; }
            }

            .main {
                p { color: #fff; }
                svg { color: #fff; }
            }
        }

        section:nth-child(2) {
            p { color: #fff; }
            svg { fill: #fff; }
        }
    }
}


@media (min-width: 600px) {

    #sidebar {
        opacity: 1;
        max-width: 80px;
        position: relative;

        section:nth-child(1) {
            .header {
                display: flex;
                align-items: center;
                justify-content: center;

                h1 { display: none; }
                .menuBtn { display: block; }
                .closeBtn { display: none; }
            }

            .main {
                display: flex;
                justify-content: center;

                ul {
                    p { display: none }
                    .arrowIcon { display: none }
                }
            }
        }

        section:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;

            p { display: none }
        }


        &.active {
            max-width: 270px;

            section:nth-child(1) {
                .header {
                    display: flex;
                    justify-content: space-between;

                    h1 { display: block; }
                    .menuBtn { display: none; }
                    .closeBtn { display: block; }
                }

                .main {
                    display: flex;
                    justify-content: space-between;

                    ul {
                        width: 100%;

                        justify-content: space-between;
                        p { display: block }
                        .arrowIcon { display: block }
                    }
                }
            }

            section:nth-child(2) {
                all: unset;
                padding: 1rem;
                border-top: 1px solid #00000010;

                p { display: block }
            }
        }
    }

}


@media (min-width: 1200px) {
    #sidebar, #sidebar.active {
        max-width: 270px;

        section:nth-child(1) {
            .header {
                display: flex;
                justify-content: space-between;

                h1 { display: block; }
                .menuBtn { display: none; }
                .closeBtn { display: none; }
            }

            .main {
                display: flex;
                justify-content: space-between;

                ul {
                    width: 100%;

                    justify-content: space-between;
                    p { display: block }
                    .arrowIcon { display: block }
                }
            }
        }

        section:nth-child(2) {
            display: flex;
            justify-content: space-between !important;

            p {
                display: none;
            }
        }
    }
}