
.navbar {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000010;

    div {
        gap: .5rem;
        display: flex;
        align-items: center;

        svg {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }

        h1 {
            font-size: 1.5em;
        }
    }

    button {
        all: unset;
        gap: .5rem;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-radius: 50rem;
    }
}