@use "./global" as *;
@use "./route-styles/note";

#root {
    height: 100vh;
    overflow: hidden;
    min-height: 600px;
    background: #f9f9f9;
}

main {
    display: grid;
    grid-area: main;
}


#root.dark { // DARK
    background: $dark-color;
}

@media (min-width: 600px) {

    #root {
        display: grid;
        grid-template-rows: [row-start] 63px [row-end] 1fr;
        grid-template-columns: [col-start] 80px;
        grid-template-areas:
        "sidebar navbar navbar navbar"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main";
        
        &.active {
            grid-template-columns: [col-start] 250px;
        }
        
        &.inactive-navbar {
            grid-template-rows: [row-start] 0 [row-end] 1fr;
        }
    }

}

@media (min-width: 1200px) {

    #root {
        display: grid;
        grid-template-rows: [row-start] 63px [row-end] 1fr;
        grid-template-columns: [col-start] 250px;
        grid-template-areas:
                "sidebar navbar navbar navbar"
                "sidebar main main main"
                "sidebar main main main"
                "sidebar main main main";
    }

}
